<div class="card card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">time</th>
        <th scope="col">type</th>
        <th scope="col">message</th>
      </tr>
    </thead>
    <tbody>

      {{#each this.tableData as |item index|}}
        <tr>
          <th scope="row">{{index}}</th>
          <td>{{date item.timestampEvent}}</td>
          <td>{{item.eventType}}</td>
          <td>{{item.eventMessage}}</td>
        </tr>
      {{/each}}

    </tbody>
  </table>

</div>
