<form>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Maximal amount of Landscapes: </label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputLimit" placeholder="100">
    </div>
  </div>
</form>


<button type="button" class="btn btn-dark" style="width: 7%; float: right; margin-right: 30px; margin-top: 15px;" onclick={{action "saveData"}}>Save</button>
<button type="button" class="btn btn-dark" style="width: 7%; float: right; margin-right: 30px; margin-top: 15px;" onclick={{action "cancel"}}>Cancel</button>
