<div class="card card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">timestampLandscape</th>
        <th scope="col">timestampEvent</th>
        <th scope="col">eventType</th>
        <th scope="col">eventMessage</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">1</th>
        <td>123435234</td>
        <td>12135</td>
        <td>Error</td>
        <td>Hello World</td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>123435234</td>
        <td>12135</td>
        <td>Error</td>
        <td>Hello World</td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>123435234</td>
        <td>12135</td>
        <td>Error</td>
        <td>Hello World</td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>123435234</td>
        <td>12135</td>
        <td>Error</td>
        <td>Hello World</td>
      </tr>

      <!--
        {{#each this.test as |item index|}}
          <tr>
            <th scope="row">{{index}}</th>
            <td>{{date item.timestampLandscape}}</td>
          </tr>
        {{/each}}
      -->

    </tbody>
  </table>

</div>
