<!-- Dropdown Card  -->
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Programming languages occurrence</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Konfiguration:</div>
        <a class="dropdown-item" href="#" onclick={{action "loadWidgetInfo"}}>Widget information</a>
        <a class="dropdown-item" href="#" onclick={{action "remove"}}>Remove</a>


      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">



    <div id="programminglanguagesoccurrenceChart{{this.elementId}}"></div>

    <div>
      <span class="badge badge-pill badge-success">Timestamp: {{date this.timestamp}}</span>
    </div>



  </div>
</div>
