<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Total Requests <button id="recent" class="btn btn-primary">RECENT</button> <button id="all" class="btn btn-outline-primary">ALL</button></h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Konfiguration:</div>
        <a class="dropdown-item" href="#">Widget Settings</a>
        <a class="dropdown-item" href="#">Remove</a>
        <!--<div class="dropdown-divider"></div>-->

      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">

    <!--
     <div class="toolbar">
      <button id="recent">RECENT</button>
      <button id="all">ALL</button>
    </div>
    -->

    <div id="totalRequestsChartRecent"></div>
    <div id="totalRequestsChartAll"></div>




  </div>
</div>
